@page "/activation-failed"

<Title>Activation failed</Title>

<p>
    The activation of your account has failed. If your account is not yet activated, please <a href="resend-activation">request a new activation link</a>.
</p>

<p>
    Please contact support if these issues persist.
</p>
