@page "/activation-failed"
@attribute [AllowAnonymous]

<Title>Activation failed</Title>

<p>
    The activation of your account has failed. If your account is not yet activated, please <a href="send-activation">request a new activation link</a>.
</p>

<p>
    Please contact support if these issues persist.
</p>
