@page "/change-password"
@*TODO decide on blacklisting or whitelisting*@
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization
@using WarOfEmpires.Models.Security

<Title>Change password</Title>

<Form Route="Security.ChangePassword" Model="model" OnSuccess="/" SuccessMessage="Your password has been changed successfully.">
    <div class="form-field">
        <Label For="() => model.CurrentPassword" />
        <InputText type="password" @bind-Value="model.CurrentPassword" />
        <ValidationMessage For="() => model.CurrentPassword" />
    </div>

    <div class="form-field">
        <Label For="() => model.NewPassword" />
        <InputPassword @bind-Password="model.NewPassword" />
        <ValidationMessage For="() => model.NewPassword" />
    </div>

    <div class="form-field">
        <Label For="() => model.ConfirmNewPassword" />
        <InputText type="password" @bind-Value="model.ConfirmNewPassword" />
        <ValidationMessage For="() => model.ConfirmNewPassword" />
    </div>    
</Form>

@code {
    ChangeUserPasswordModel model = new();
}
