@page "/confirm-email"
@page "/home/confirm-email"
@attribute [AllowAnonymous]
@using WarOfEmpires.Models.Security

<Title>Confirm new email address</Title>

<p>
    Your email address is being changed, please be patient.
</p>

@code {
    [Inject]
    public HttpClient HttpClient { get; set; } = null!;

    [Inject]
    public IRoutingService RoutingService { get; set; } = null!;

    [Inject]
    public IAccessControlService AccessControlService { get; set; } = null!;

    [CascadingParameter]
    public NotificationManager NotificationManager { get; set; } = null!;

    [Inject]
    public NavigationManager NavigationManager { get; set; } = null!;

    [Parameter]
    [SupplyParameterFromQuery(Name = "confirmationCode")]
    public string? ConfirmationCode { get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name = "email")]
    public string? Email { get; set; }

    protected override async Task OnInitializedAsync() {
        var response = await HttpClient.PostAsJsonAsync(RoutingService.GetRoute(Security.ConfirmEmail), new ConfirmUserEmailChangeModel() {
                ConfirmationCode = ConfirmationCode,
                Email = Email
            });

        if (response.IsSuccessStatusCode) {
            var token = await response.Content.ReadAsStringAsync();

            if (!string.IsNullOrWhiteSpace(token)) {
                await AccessControlService.SignIn(token);
            }

            NavigationManager.NavigateTo("/email-confirmed");
        }
        else if (response.StatusCode == HttpStatusCode.BadRequest) {
            NavigationManager.NavigateTo("/email-confirmation-failed");
        }
        else {
            NotificationManager.Notify(NotificationType.Error, "An error occurred processing data; please try again.");
        }
    }
}
