@page "/email-confirmation-failed"

<Title>Confirming new email address failed</Title>

<p>
    Confirming your new email address has failed. If you can not log in with your new email address, please <a href="/change-email">retry changing your email address</a>.
</p>

<p>
    Please contact support if these issues persist.
</p>
