@page "/forgot-password"
@attribute [AllowAnonymous]
@using WarOfEmpires.Models.Security

<Title>Forgot password</Title>

<Form Route="Security.ForgotPassword" Model="model" OnSuccess="/" SuccessMessage="A password reset link has been sent to the email address you provided. This link will expire after one hour.">
    <div class="form-field">
        <Label For="() => model.Email" />
        <InputText @bind-Value="model.Email" />
        <ValidationMessage For="() => model.Email" />
    </div>
</Form>

@code {
    private ForgotUserPasswordModel model = new();
}