@page "/log-in"
@using WarOfEmpires.Models.Security

<Title>Log in</Title>

@*TODO: navigate to either previously requested page or to empire overview*@

<Form Route="Security.LogIn" Model="model" ResponseMessageHandler="StoreAccessToken" OnSuccess="/" SuccessMessage="You have logged in successfully.">
    <div class="form-field">
        <Label For="() => model.Email" />
        <InputText @bind-Value="model.Email" />
        <ValidationMessage For="() => model.Email" />
    </div>

    <div class="form-field">
        <Label For="() => model.Password" />
        <InputText type="password" @bind-Value="model.Password" />
        <ValidationMessage For="() => model.Password" />
    </div>
</Form>

@code {
    [Inject]
    public IAccessControlProvider AccessControlProvider { get; set; } = null!;

    LogInUserModel model = new();

    public async Task<bool> StoreAccessToken(HttpResponseMessage response) {
        var token = await response.Content.ReadAsStringAsync() ?? throw new InvalidOperationException("Missing token in response content");

        await AccessControlProvider.SignIn(token);

        return false;
    }
}