@using System.Net
@page "/register"
@using WarOfEmpires.Models.Security

<Title>Register</Title>

<EditForm EditContext="editContext" OnValidSubmit="Submit">
    <DataAnnotationsValidator />

    <div class="form-group">
        @{
            var validationMessages = context.GetValidationMessages(context.Field(string.Empty)).ToList();

            if (validationMessages.Any()) {
                <ul class="validation-errors">
                    @foreach (var message in validationMessages) {
                        <li>@message</li>
                    }
                </ul>
            }
        }

        <div class="form-field">
            <Label For="() => model.Email" />
            <InputText @bind-Value="model.Email" />
            <ValidationMessage For="() => model.Email" />
        </div>

        <div class="form-field">
            <Label For="() => model.Password" />
            <InputText type="password" @bind-Value="model.Password" />
            @*TODO password judger*@
            <ValidationMessage For="() => model.Password" />
        </div>

        <div class="form-field">
            <Label For="() => model.ConfirmPassword" />
            <InputText type="password" @bind-Value="model.ConfirmPassword" />
            <ValidationMessage For="() => model.ConfirmPassword" />
        </div>
    </div>

    <div class="form-button-group">
        <button type="submit">Submit</button>
    </div>
</EditForm>

@code {
    [Inject] public HttpClient HttpClient { get; set; } = null!;
    [Inject] public RoutingService RoutingService { get; set; } = null!;
    [Inject] public NavigationManager NavigationManager { get; set; } = null!;
    [CascadingParameter] public NotificationManager NotificationManager { get; set; } = null!;

    private class ValidationProblemDetails {
        public IDictionary<string, string[]> Errors { get; }

        public ValidationProblemDetails(IDictionary<string, string[]> errors) {
            Errors = errors;
        }
    }

    private RegisterUserModel model;
    private EditContext editContext;
    private ValidationMessageStore validationMessageStore;

    public Register() {
        model = new();
        editContext = new(model);
        validationMessageStore = new ValidationMessageStore(editContext);
        editContext.OnValidationRequested += (s, e) => validationMessageStore.Clear();
        editContext.OnFieldChanged += (s, e) => validationMessageStore.Clear(e.FieldIdentifier);
    }

    private async Task Submit() {
        var response = await HttpClient.PostAsJsonAsync(RoutingService.GetRoute(Security.Register), model);

        if (response.IsSuccessStatusCode) {
            var warnings = await response.Content.ReadFromJsonAsync<IEnumerable<string>>();

            if (warnings?.Any() ?? false) {
                foreach (var warning in warnings) {
                    NotificationManager.Notify(NotificationType.Warning, warning);
                }
            }
            else {
                NotificationManager.Notify(NotificationType.Success, "You have registered successfully. An email has been sent to the provided email address with a validation link.");
            }

            NavigationManager.NavigateTo("/");
        }
        else if (response.StatusCode == HttpStatusCode.BadRequest) {
            var validationProblemDetails = await response.Content.ReadFromJsonAsync<ValidationProblemDetails>() ?? throw new InvalidOperationException("Missing error details in request content");

            foreach (var errorField in validationProblemDetails.Errors) {
                validationMessageStore.Add(editContext.Field(errorField.Key), errorField.Value);
            }

            editContext.NotifyValidationStateChanged();
        }
        else {
            NotificationManager.Notify(NotificationType.Error, "An error occurred processing data; please try again.");
        }

        // TODO centralize
    }
}