@using System.Net;
@page "/register"
@using WarOfEmpires.Models.Security

<Title>Register</Title>

<EditForm Model="model" OnValidSubmit="Submit">
    @*
    TODO custom validation summary for model only
    https://github.com/dotnet/aspnetcore/blob/main/src/Components/Web/src/Forms/ValidationSummary.cs

    TODO validation summary styling
    TODO validation message styling
    *@

    <div class="form-group">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-field">
            <Label For="() => model.Email" />
            <InputText @bind-Value="model.Email" />
            <ValidationMessage For="() => model.Email" />
        </div>

        <div class="form-field">
            <Label For="() => model.Password" />
            <InputText type="password" @bind-Value="model.Password" />
            @*TODO password judger*@
            <ValidationMessage For="() => model.Password" />
        </div>

        <div class="form-field">
            <Label For="() => model.ConfirmPassword" />
            <InputText type="password" @bind-Value="model.ConfirmPassword" />
            <ValidationMessage For="() => model.ConfirmPassword" />
        </div>
    </div>

    <div class="form-button-group">
        <button type="submit">Submit</button>
    </div>
</EditForm>

@code {
    [Inject] public HttpClient HttpClient { get; set; } = null!;
    [Inject] public RoutingService RoutingService { get; set; } = null!;
    [Inject] public NavigationManager NavigationManager { get; set; } = null!;
    [CascadingParameter] public NotificationManager NotificationManager { get; set; } = null!;

    private RegisterUserModel model = new();

    private async Task Submit(EditContext context) {
        var response = await HttpClient.PostAsJsonAsync(RoutingService.GetRoute(Security.Register), model);

        if (response.IsSuccessStatusCode) {
            var warnings = await response.Content.ReadFromJsonAsync<IEnumerable<string>>();

            if (warnings?.Any() ?? false) {
                foreach (var warning in warnings){
                    NotificationManager.Notify(NotificationType.Warning, warning);
                }
            }
            else {
                NotificationManager.Notify(NotificationType.Success, "You have registered successfully. An email has been sent to the provided email address with a validation link.");
            }

            NavigationManager.NavigateTo("/");
        }
        else if (response.StatusCode == HttpStatusCode.BadRequest) {
            var errorDetails = await response.Content.ReadFromJsonAsync<IDictionary<string, IEnumerable<string>>>() ?? throw new InvalidOperationException("Missing error details in request content");
            var messageStore = new ValidationMessageStore(context);

            foreach (var errorField in errorDetails) {
                messageStore.Add(context.Field(errorField.Key), errorField.Value);
            }

            context.OnValidationRequested += (s, e) => messageStore.Clear();
            context.OnFieldChanged += (s, e) => messageStore.Clear(e.FieldIdentifier);
            context.NotifyValidationStateChanged();
        }
        else {
            NotificationManager.Notify(NotificationType.Error, "An error occurred processing data; please try again.");
        }

        // TODO centralize
    }
}