@page "/send-activation"
@attribute [AllowAnonymous]
@using WarOfEmpires.Models.Security

<Title>Send activation link</Title>

<Form Route="Security.SendActivation" RequireAuthorization="false"  Model="model" OnSuccess="/" SuccessMessage="An email has been sent to the provided email address with an activation link.">
    <div class="form-field">
        <Label For="() => model.Email" />
        <InputText @bind-Value="model.Email" />
        <ValidationMessage For="() => model.Email" />
    </div>
</Form>

@code {
    private SendUserActivationModel model = new();
}
