*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #F3FCDC;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  line-height: 1.5;
  color: #222222;
}

#app {
  max-width: 1320px;
  margin-right: auto;
  margin-left: auto;
}

nav {
  display: flex;
  background-color: #6184D8;
  font-weight: bold;
  margin: 1rem;
  border-radius: 0.25rem;
}
nav > .nav-brand {
  flex-grow: 1;
}
nav .nav-brand, nav .nav-link, nav .nav-menu-content {
  padding: 1rem;
}
nav a {
  color: #333399;
  text-decoration: none;
  border-top-color: #333399;
  cursor: pointer;
}
nav a:hover, nav a:focus {
  color: #72B4E0;
  border-top-color: #72B4E0;
}
nav .nav-menu > .nav-link a::after {
  content: "";
  border-top: 0.5rem solid;
  border-bottom: 0;
  display: inline-block;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
  border-right: 0.4rem solid transparent;
  border-left: 0.4rem solid transparent;
}
nav .nav-menu > .nav-menu-content {
  position: absolute;
  background-color: #6184D8;
  border: 1px solid #533A71;
}
nav .nav-menu > .nav-menu-content > .nav-link {
  padding: 0;
}
nav .nav-menu > .nav-menu-content > .nav-link:not(:first-child) {
  margin-top: 0.5rem;
}
nav .nav-menu > .nav-menu-content > .nav-divider {
  height: 0;
  margin: 0.5rem 0;
  border-top: 1px solid #533A71;
}

main {
  background-color: #F5E0B7;
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.25rem;
}
main > *:last-child {
  margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.popup-message-container {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 25rem;
}
.popup-message-container .popup-message {
  display: flex !important;
  align-items: center;
  margin: 1rem;
  border-radius: 0.25rem;
}
.popup-message-container .popup-message.popup-message-success {
  background-color: #11CC11;
  color: #F8E8C4;
}
.popup-message-container .popup-message.popup-message-error {
  background-color: #CC1111;
  color: #F8E8C4;
}
.popup-message-container .popup-message.popup-message-warning {
  background-color: #DD8800;
  color: #F8E8C4;
}
.popup-message-container .popup-message > .popup-message-icon {
  font-size: 1.5rem;
  flex-shrink: 0;
  margin-left: 1rem;
}
.popup-message-container .popup-message > .popup-message-body {
  flex-grow: 1;
  margin: 1rem;
}
.popup-message-container .popup-message > .popup-message-body > .popup-message-toolbar {
  float: right;
  margin-top: -0.5rem;
  margin-right: -0.25rem;
}

form {
  display: flex;
  flex-wrap: wrap;
}
form .form-group {
  width: 100%;
}
@media (min-width: 48rem) {
  form .form-group {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
  }
}
form .form-group ul.validation-errors {
  margin: 0;
  padding: 0;
}
form .form-group ul.validation-errors > li {
  list-style: none;
  color: #dc3545;
}
form .form-group ul.validation-errors > li:last-child {
  margin-bottom: 1rem;
}
form .form-group .form-field {
  margin-bottom: 1rem;
}
form .form-group .form-field label {
  display: inline-block;
}
form .form-group .form-field input {
  display: block;
  width: 100%;
  padding: 0.25rem 0.5rem;
  background-color: #ffffff;
  background-clip: padding-box;
  appearance: none;
  border: 1px solid #DACCB2;
  border-radius: 0.25rem;
  font-size: 1rem;
  line-height: 1.5;
}
form .form-group .form-field input:focus {
  border-color: #533A71;
  outline: 0;
  box-shadow: 0 0 0.25rem 0.25rem rgba(83, 58, 113, 0.25);
}
form .form-group .form-field input:disabled, form .form-group .form-field input:read-only {
  background-color: #F8E8C4;
}
form .form-group .form-field input.password-strength-weakest {
  box-shadow: 0 -0.25rem 0 0 #EE3333 inset;
}
form .form-group .form-field input.password-strength-weakest:focus {
  box-shadow: 0 0 0.25rem 0.25rem rgba(83, 58, 113, 0.25), 0 -0.25rem 0 0 #EE3333 inset;
}
form .form-group .form-field input.password-strength-weak {
  box-shadow: 0 -0.25rem 0 0 #EE8833 inset;
}
form .form-group .form-field input.password-strength-weak:focus {
  box-shadow: 0 0 0.25rem 0.25rem rgba(83, 58, 113, 0.25), 0 -0.25rem 0 0 #EE8833 inset;
}
form .form-group .form-field input.password-strength-medium {
  box-shadow: 0 -0.25rem 0 0 #EEEE33 inset;
}
form .form-group .form-field input.password-strength-medium:focus {
  box-shadow: 0 0 0.25rem 0.25rem rgba(83, 58, 113, 0.25), 0 -0.25rem 0 0 #EEEE33 inset;
}
form .form-group .form-field input.password-strength-strong {
  box-shadow: 0 -0.25rem 0 0 #88EE33 inset;
}
form .form-group .form-field input.password-strength-strong:focus {
  box-shadow: 0 0 0.25rem 0.25rem rgba(83, 58, 113, 0.25), 0 -0.25rem 0 0 #88EE33 inset;
}
form .form-group .form-field input.password-strength-strongest {
  box-shadow: 0 -0.25rem 0 0 #33EE33 inset;
}
form .form-group .form-field input.password-strength-strongest:focus {
  box-shadow: 0 0 0.25rem 0.25rem rgba(83, 58, 113, 0.25), 0 -0.25rem 0 0 #33EE33 inset;
}
form .form-group .form-field .validation-message {
  color: #dc3545;
  font-size: 0.875rem;
}
form .form-button-group {
  width: 100%;
  padding-left: 50%;
}
@media (min-width: 48rem) {
  form .form-button-group {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    padding-left: 25%;
  }
}
form .form-button-group button {
  display: block;
  width: 100%;
  padding: 0.25rem 0.5rem;
  color: #ffffff;
  background-color: #533A71;
  border-color: #533A71;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  appearance: none;
  border: 1px solid #533A71;
  border-radius: 0.25rem;
  font-size: 1rem;
  line-height: 1.5;
}
form .form-button-group button:focus {
  outline: 0;
  box-shadow: 0 0 0.25rem 0.25rem rgba(83, 58, 113, 0.25);
}
