// Base colors
$site-white: #ffffff;
$site-pale-blue: #B0C8E0;
$site-light-blue: #72B4E0;
$site-medium-blue: #6184D8;
$site-dark-blue: #333399;
$site-dark-purple: #533A71;
$site-pale-lemon: #F3FCDC;
$site-light-apricot: #F8E8C4;
$site-apricot: #F5E0B7;
$site-grey-apricot: #DACCB2;
$site-dark-grey: #777777;
$site-dark-orange: #DD5500;
$site-light-green: #77EE99;
$site-black: #222222;
$site-red: #dc3545;

$default-sizing: 1rem;

$popup-message-success-background: #11CC11;
$popup-message-success: $site-light-apricot;
$popup-message-error-background: #CC1111;
$popup-message-error: $site-light-apricot;
$popup-message-warning-background: #DD8800;
$popup-message-warning: $site-light-apricot;

$password-strength-weakest: #EE3333;
$password-strength-weak: #EE8833;
$password-strength-medium: #EEEE33;
$password-strength-strong: #88EE33;
$password-strength-strongest: #33EE33;

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: $site-pale-lemon;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: $default-sizing;
    line-height: 1.5;
    color: $site-black;
}

#app {
    max-width: 1320px;
    margin-right: auto;
    margin-left: auto;
}

nav {
    display: flex;
    background-color: $site-medium-blue;
    font-weight: bold;
    margin: $default-sizing;
    border-radius: $default-sizing / 4;

    > .nav-brand {
        flex-grow: 1;
    }

    .nav-brand, .nav-link, .nav-menu-content {
        padding: $default-sizing;
    }

    a {
        color: $site-dark-blue;
        text-decoration: none;
        border-top-color: $site-dark-blue;
        cursor: pointer;
    }

    a:hover, a:focus {
        color: $site-light-blue;
        border-top-color: $site-light-blue;
    }

    .nav-menu > .nav-link a::after {
        content: '';
        border-top: $default-sizing / 2 solid;
        border-bottom: 0;
        display: inline-block;
        margin-left: $default-sizing / 2.5;
        margin-right: $default-sizing / 2.5;
        border-right: $default-sizing / 2.5 solid transparent;
        border-left: $default-sizing / 2.5 solid transparent;
    }

    .nav-menu > .nav-menu-content {
        position: absolute;
        background-color: $site-medium-blue;
        border: 1px solid $site-dark-purple;

        > .nav-link {
            padding: 0;

            &:not(:first-child) {
                margin-top: $default-sizing / 2;
            }
        }

        > .nav-divider {
            height: 0;
            margin: $default-sizing / 2 0;
            border-top: 1px solid $site-dark-purple;
        }
    }
}

main {
    background-color: $site-apricot;
    padding: $default-sizing;
    margin: $default-sizing;
    border-radius: $default-sizing / 4;

    > *:last-child {
        margin-bottom: 0;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: $default-sizing / 2;
    font-weight: 500;
}

h1 {
    font-size: $default-sizing * 2.5;
}

h2 {
    font-size: $default-sizing * 2;
}

h3 {
    font-size: $default-sizing * 1.75;
}

h4 {
    font-size: $default-sizing * 1.5;
}

h5 {
    font-size: $default-sizing * 1.25;
}

h6 {
    font-size: $default-sizing;
}

p {
    margin-top: 0;
    margin-bottom: $default-sizing;
}

.popup-message-container {
    position: absolute;
    bottom: 0;
    right: 0;
    width: $default-sizing * 25;

    .popup-message {
        display: flex !important;
        align-items: center;
        margin: $default-sizing;
        border-radius: $default-sizing / 4;

        &.popup-message-success {
            background-color: $popup-message-success-background;
            color: $popup-message-success;
        }

        &.popup-message-error {
            background-color: $popup-message-error-background;
            color: $popup-message-error;
        }

        &.popup-message-warning {
            background-color: $popup-message-warning-background;
            color: $popup-message-warning;
        }

        > .popup-message-icon {
            font-size: $default-sizing * 1.5;
            flex-shrink: 0;
            margin-left: $default-sizing;
        }

        > .popup-message-body {
            > .popup-message-toolbar {
                float: right;
                margin-top: -$default-sizing / 2;
                margin-right: -$default-sizing / 4;
            }

            flex-grow: 1;
            margin: $default-sizing;
        }
    }
}

form {
    display: flex;
    flex-wrap: wrap;

    .form-group {
        width: 100%;

        @media (min-width: 48 * $default-sizing) {
            width: 50%;
            margin-left: 25%;
            margin-right: 25%;
        }

        ul.validation-errors {
            margin: 0;
            padding: 0;

            > li {
                list-style: none;
                color: $site-red;

                &:last-child {
                    margin-bottom: $default-sizing;
                }
            }
        }

        .form-field {
            margin-bottom: $default-sizing;

            label {
                display: inline-block;
            }

            input {
                display: block;
                width: 100%;
                padding: $default-sizing / 4 $default-sizing / 2;
                background-color: $site-white;
                background-clip: padding-box;
                appearance: none;
                border: 1px solid $site-grey-apricot;
                border-radius: $default-sizing / 4;
                font-size: $default-sizing;
                line-height: 1.5;

                &:focus {
                    border-color: $site-dark-purple;
                    outline: 0;
                    box-shadow: 0 0 $default-sizing / 4 $default-sizing / 4 rgba($site-dark-purple, 0.25);
                }

                &:disabled, &:read-only {
                    background-color: $site-light-apricot;
                }

                @mixin password-strength($color) {
                    box-shadow: 0 $default-sizing / -4 0 0 $color inset;

                    &:focus {
                        box-shadow: 0 0 $default-sizing / 4 $default-sizing / 4 rgba($site-dark-purple, 0.25), 0 $default-sizing / -4 0 0 $color inset;
                    }
                }

                &.password-strength-weakest {
                    @include password-strength($password-strength-weakest);
                }

                &.password-strength-weak {
                    @include password-strength($password-strength-weak);
                }

                &.password-strength-medium {
                    @include password-strength($password-strength-medium);
                }

                &.password-strength-strong {
                    @include password-strength($password-strength-strong);
                }

                &.password-strength-strongest {
                    @include password-strength($password-strength-strongest);
                }
            }

            .validation-message {
                color: $site-red;
                font-size: $default-sizing * 0.875;
            }
        }
    }

    .form-button-group {
        width: 100%;
        padding-left: 50%;

        @media (min-width: 48 * $default-sizing) {
            width: 50%;
            margin-left: 25%;
            margin-right: 25%;
            padding-left: 25%;
        }

        button {
            display: block;
            width: 100%;
            padding: $default-sizing / 4 $default-sizing / 2;
            color: $site-white;
            background-color: $site-dark-purple;
            border-color: $site-dark-purple;
            text-align: center;
            vertical-align: middle;
            cursor: pointer;
            appearance: none;
            border: 1px solid $site-dark-purple;
            border-radius: $default-sizing / 4;
            font-size: $default-sizing;
            line-height: 1.5;

            &:focus {
                outline: 0;
                box-shadow: 0 0 $default-sizing / 4 $default-sizing / 4 rgba($site-dark-purple, 0.25);
            }
        }
    }
}
