@model WarOfEmpires.Models.Markets.MarketModel

@{
    ViewBag.Title = "Buy resources";
}

<h2>Buy resources</h2>

<p>
    On the market you can buy resources other players are trying to sell.
</p>

<form method="post" data-success-message="Your resources have been purchased.">
    <div asp-validation-summary="ModelOnly" class="site-validation-summary text-danger"></div>

    <div class="row">
        @for (var i = 0; i < Model.Merchandise.Count; i++) {
            <input type="hidden" asp-for="Merchandise[i].Type" />
            <input type="hidden" asp-for="Merchandise[i].Name" />
            <input type="hidden" asp-for="Merchandise[i].AvailableAtLowestPrice" />
            <input type="hidden" asp-for="Merchandise[i].LowestPrice" />
            <input type="hidden" asp-for="Merchandise[i].TotalAvailable" />

            <div class="col-12 col-md-6 col-lg-3">
                <h4>@Model.Merchandise[i].Name</h4>

                <div class="mb-3">
                    <label>Minimum price</label>
                    <div class="form-control" readonly="readonly">@Model.Merchandise[i].LowestPrice.ToString(StringFormat.Integer)</div>
                </div>

                <div class="mb-3">
                    <label>Available at minimum price</label>
                    <div class="form-control" readonly="readonly">@Model.Merchandise[i].AvailableAtLowestPrice.ToString(StringFormat.Integer)</div>
                </div>

                <div class="mb-3">
                    <label>Total available</label>
                    <div class="form-control" readonly="readonly">@Model.Merchandise[i].TotalAvailable.ToString(StringFormat.Integer)</div>
                </div>

                <div class="mb-3">
                    <label asp-for="Merchandise[i].Quantity"></label>
                    <input type="text" asp-for="Merchandise[i].Quantity" class="form-control" />
                    <span asp-validation-for="Merchandise[i].Quantity" class="small form-text text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Merchandise[i].Price"></label>
                    <input type="text" asp-for="Merchandise[i].Price" class="form-control" />
                    <span asp-validation-for="Merchandise[i].Price" class="small form-text text-danger"></span>
                </div>
            </div>
        }
    </div>

    <div class="row">
        <div class="col-6 offset-6 col-md-3 offset-md-9"><button type="submit" class="btn btn-primary w-100">Buy</button></div>
    </div>
</form>
