/* colours */
:root {
    --msg-bg-color: #66CC66; /* darker green */
    --nav-notify-color: #9CEC5B; /* garish green */
    --nav-notify-hover-color: #66CC66; /* darker green */
    --pw-meter-border-color: #CED4DA; /* light grey */
    --pw-meter-1-color: #EE8833; /* orange */
    --pw-meter-2-color: #EEEE33; /* yellow */
    --pw-meter-3-color: #33EE33; /* green */
    --rangeslider-thumb-color: #6184D8; /* blue */
    --rangeslider-thumb-border-color: #333399; /* dark blue */
    --rangeslider-track-color: #533A71; /* dark purple */
    --text-muted-color: #777777; /* dark grey */
    --background-highlighted-color: #FFBB88; /* light orange */
}

/* sizes */
:root {
    --rangeslider-height: calc(1.5em + 0.75rem + 2px);
    --rangeslider-thumb-height: calc(70% + 0.3em);
    --rangeslider-thumb-width: 0.8em;
    --rangeslider-track-height: 0.3em;
}

.navbar * {
    font-weight: bold;
}

.navbar a.notify {
    color: var(--nav-notify-color) !important;
}

.navbar a.notify:hover {
    color: var(--nav-notify-hover-color) !important;
}

.site-required:after {
    content: "*";
    font-weight: bold;
}

.site-validation-summary > ul {
    margin: 0;
    padding: 0;
}

.site-validation-summary > ul > li {
    list-style: none;
    margin-bottom: 0.5rem;
}

.site-password-meter {
    text-align: center;
    border: 1px solid var(--pw-meter-border-color);
    border-radius: 0.25rem;
    width: 100%;
}

.site-password-meter-1 {
    background-color: var(--pw-meter-1-color);
}

.site-password-meter-2 {
    background-color: var(--pw-meter-2-color);
}

.site-password-meter-3 {
    background-color: var(--pw-meter-3-color);
}

.site-user-text, .site-user-text-inline {
    white-space: pre-wrap;
    background-color: var(--msg-bg-color);
    border-radius: 0.25em;
}

.site-user-text {
    padding: 0.5rem;
    margin-top: 0.5rem;
}

.rangeslider {
    height: var(--rangeslider-height);
}

.rangeslider-thumb {
    background-color: var(--rangeslider-thumb-color);
    border: 1px solid var(--rangeslider-thumb-border-color);
    border-radius: 0.25em;
    top: calc(50% - var(--rangeslider-thumb-height) / 2);
    width: var(--rangeslider-thumb-width);
    height: var(--rangeslider-thumb-height);
}

.rangeslider-track {
    background-color: var(--rangeslider-track-color);
    top: calc(50% - var(--rangeslider-track-height) / 2);
    height: var(--rangeslider-track-height);
}

.site-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(51, 51, 153, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.information, .information-list {
    color: var(--text-muted-color);
}

.information .si:after, .information-list .si:after {
    opacity: 0.5;
}

.information-list {
    margin-bottom: 0;
}

.partial-content + :not(.partial-content):not(.information-list), .information-list + :not(.partial-content):not(.information-list) {
    margin-top: 1em;
}

.action-list > *:not(:last-child)::after {
    content: " |";
}

.bg-highlight {
    background-color: var(--background-highlighted-color);
}