.site-container {
    padding: 15px;
}

.site-content {
    background-color: #eeeeee;
    padding: 15px;
}

.site-navbar {
    background-color: #ccccff;
    padding: 15px;
}

.site-dropdown-menu {
    background-color: #ddddee;
    padding: 0.5rem 0;
    margin: 0;
    border: 1px solid #aaaaee;
    border-radius: 0;
}

.site-dropdown-item {
    padding: 0.25rem 0.75rem;
}

.site-dropdown-divider {
    border-top: 1px solid #aaaaee;
}

.site-navbar a, .site-navbar button {
    color: #333399;
    font-weight: bold;
    text-decoration: none;
    background-color: inherit !important;
}
.site-navbar a:hover, .site-navbar button:hover {
    color: #6666cc;
    text-decoration: underline;
}

.site-spaced {
    margin-top: 15px;
    margin-bottom: 15px;
}

.site-control {
    width: 100%;
    line-height: 1.2em;
}

.site-required:after {
    content: "*";
    font-weight: bold;
}

.site-validation-summary > ul {
    margin: 0;
    padding: 0;
}

.site-validation-summary > ul > li {
    list-style: none;
    margin-bottom: 0.5rem;
}

.site-password-meter {
    text-align: center;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    width: 100%;
}

.site-password-meter-1 {
    background-color: #ee8833;
}

.site-password-meter-2 {
    background-color: #eeee33;
}

.site-password-meter-3 {
    background-color: #33ee33;
}