:root {
    --btn-primary-color: #533A71; /* dark purple */
    --btn-primary-hover-color: #6184D8; /* blue */
    --content-bg-color: #F5E0B7; /* apricot */
    --msg-bg-color: #f3fcdc; /* pale lemon */
    --nav-bg-color: #6184D8; /* blue */
    --nav-menu-border-color: #533A71; /* dark purple */
    --nav-menu-color: #333399; /* dark blue */
    --nav-menu-hover-color: #72b4e0; /* light blue */
    --nav-notify-color: #9CEC5B; /* garish green */
    --nav-notify-hover-color: #66cc66; /* darker green */
    --page-bg-color: #f3fcdc; /* pale lemon */
    --pw-meter-border-color: #ced4da; /* light grey */
    --pw-meter-1-color: #ee8833; /* orange */
    --pw-meter-2-color: #eeee33; /* yellow */
    --pw-meter-3-color: #33ee33; /* green */
}

body {
    background-color: var(--page-bg-color);
}

.site-container {
    padding: 15px;
}

.site-content {
    background-color: var(--content-bg-color);
    padding: 15px;
}

.site-content-low {
    background-color: var(--content-bg-color);
    padding: 0px 15px;
}

.site-navbar {
    background-color: var(--nav-bg-color);
    padding: 15px;
}

.site-dropdown-menu {
    background-color: var(--nav-bg-color);
    padding: 0.5rem 0;
    margin: 0;
    border: 1px solid var(--nav-menu-border-color);
    border-radius: 0;
}

.site-dropdown-item {
    padding: 0.25rem 0.75rem;
}

.site-dropdown-divider {
    border-top: 1px solid var(--nav-menu-border-color);
}

.site-navbar a, .site-navbar button {
    color: var(--nav-menu-color);
    font-weight: bold;
    text-decoration: none;
    background-color: inherit !important;
}

.site-navbar a:hover, .site-navbar button:hover {
    color: var(--nav-menu-hover-color);
    text-decoration: underline;
}

.site-navbar a.notify {
    color: var(--nav-notify-color);
}

.site-navbar a.notify:hover {
    color: var(--nav-notify-hover-color);
}

.site-spaced {
    margin-top: 15px;
    margin-bottom: 15px;
}

.site-spaced-small {
    margin-top: 4px;
}

.site-control {
    width: 100%;
    line-height: 1.2em;
}

.site-required:after {
    content: "*";
    font-weight: bold;
}

.site-validation-summary > ul {
    margin: 0;
    padding: 0;
}

.site-validation-summary > ul > li {
    list-style: none;
    margin-bottom: 0.5rem;
}

.site-password-meter {
    text-align: center;
    border: 1px solid var(--pw-meter-border-color);
    border-radius: 0.25rem;
    width: 100%;
}

.site-password-meter-1 {
    background-color: var(--pw-meter-1-color);
}

.site-password-meter-2 {
    background-color: var(--pw-meter-2-color);
}

.site-password-meter-3 {
    background-color: var(--pw-meter-3-color);
}

.site-user-text {
    white-space: pre;
    background-color: var(--msg-bg-color);
}

.btn {
    height: auto;
}

.btn-primary {
    background-color: var(--btn-primary-color);
    border-color: var(--btn-primary-color);
}

.btn-primary:hover, .btn-primary:focus {
    background-color: var(--btn-primary-hover-color);
    border-color: var(--btn-primary-hover-color);
}
