/* colours */
:root {
    --btn-primary-color: #533A71; /* dark purple */
    --btn-primary-hover-color: #6184D8; /* blue */
    --content-bg-color: #F5E0B7; /* apricot */
    --msg-bg-color: #66cc66; /* darker green */
    --nav-bg-color: #6184D8; /* blue */
    --nav-menu-border-color: #533A71; /* dark purple */
    --nav-menu-color: #333399; /* dark blue */
    --nav-menu-hover-color: #72b4e0; /* light blue */
    --nav-notify-color: #9CEC5B; /* garish green */
    --nav-notify-hover-color: #66cc66; /* darker green */
    --page-bg-color: #f3fcdc; /* pale lemon */
    --pw-meter-border-color: #ced4da; /* light grey */
    --pw-meter-1-color: #ee8833; /* orange */
    --pw-meter-2-color: #eeee33; /* yellow */
    --pw-meter-3-color: #33ee33; /* green */
    --rangeslider-thumb-color: #6184D8; /* blue */
    --rangeslider-thumb-border-color: #333399; /* dark blue */
    --rangeslider-track-color: #533A71; /* dark purple */
    --text-highlighted-color: #dd5500; /* dark orange */
    --text-muted-color: #777777; /* dark grey */
}

/* sizes */
:root {
    --rangeslider-height: calc(1.5em + 0.75rem + 2px);
    --rangeslider-thumb-height: calc(70% + 0.3em);
    --rangeslider-thumb-width: 0.8em;
    --rangeslider-track-height: 0.3em;
}

body {
    background-color: var(--page-bg-color);
}

.site-container {
    padding: 1rem;
}

.site-content {
    background-color: var(--content-bg-color);
    padding: 1rem;
}

#empire-resources {
    background-color: var(--content-bg-color);
    padding: 0 0.5rem;
}

.site-navbar {
    background-color: var(--nav-bg-color);
    padding: 1rem;
}

.site-dropdown-menu {
    background-color: var(--nav-bg-color);
    padding: 0.5rem 0;
    margin: 0;
    border: 1px solid var(--nav-menu-border-color);
    border-radius: 0;
}

.site-dropdown-item {
    padding: 0.25rem 0.75rem;
}

.site-dropdown-divider {
    border-top: 1px solid var(--nav-menu-border-color);
}

.site-navbar a, .site-navbar button, .site-navbar span {
    color: var(--nav-menu-color);
    font-weight: bold;
    text-decoration: none;
    background-color: inherit !important;
}

.site-navbar a:hover, .site-navbar button:hover, .site-navbar span:hover {
    color: var(--nav-menu-hover-color);
    text-decoration: underline;
}

.site-navbar a.notify {
    color: var(--nav-notify-color);
}

.site-navbar a.notify:hover {
    color: var(--nav-notify-hover-color);
}

.site-spaced {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.site-spaced-small {
    margin-top: 0.25rem;
}

.site-control {
    width: 100%;
    line-height: 1.2em;
}

.site-required:after {
    content: "*";
    font-weight: bold;
}

.site-validation-summary > ul {
    margin: 0;
    padding: 0;
}

.site-validation-summary > ul > li {
    list-style: none;
    margin-bottom: 0.5rem;
}

.site-password-meter {
    text-align: center;
    border: 1px solid var(--pw-meter-border-color);
    border-radius: 0.25rem;
    width: 100%;
}

.site-password-meter-1 {
    background-color: var(--pw-meter-1-color);
}

.site-password-meter-2 {
    background-color: var(--pw-meter-2-color);
}

.site-password-meter-3 {
    background-color: var(--pw-meter-3-color);
}

.site-user-text {
    white-space: pre-wrap;
    background-color: var(--msg-bg-color);
    padding: 0.5rem;
    margin-top: 0.5rem;
}

.btn {
    height: auto;
}

.btn:focus, .btn:active {
    outline: none;
}

.btn-primary {
    background-color: var(--btn-primary-color);
    border-color: var(--btn-primary-color);
}

.btn-primary:hover, .btn-primary:focus {
    background-color: var(--btn-primary-hover-color);
    border-color: var(--btn-primary-hover-color);
}

.site-table {
    width: 100%;
}

.site-resources-open {
    color: var(--text-highlighted-color);
}

.site-resources-banked {
    color: var(--text-muted-color);
}

.rangeslider {
    height: var(--rangeslider-height);
}

.rangeslider-thumb {
    background-color: var(--rangeslider-thumb-color);
    border: 1px solid var(--rangeslider-thumb-border-color);
    border-radius: 0.25em;
    top: calc(50% - var(--rangeslider-thumb-height) / 2);
    width: var(--rangeslider-thumb-width);
    height: var(--rangeslider-thumb-height);
}

.rangeslider-track {
    background-color: var(--rangeslider-track-color);
    top: calc(50% - var(--rangeslider-track-height) / 2);
    height: var(--rangeslider-track-height);
}

.site-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(51, 51, 153, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}