.si:after {
    display: inline-block;
    vertical-align: top;
    margin-top: 2px;
    height: 20px;
    width: 20px;
    content: "";
    background-size: contain;
}

.si.si-gold::after {
    background: url('icons/two-coins.svg');
}

.si.si-food::after {
    background: url('icons/shiny-apple.svg');
}

.si.si-wood::after {
    background: url('icons/pine-tree.svg');
}

.si.si-stone::after {
    background: url('icons/stone-block.svg');
}

.si.si-ore::after {
    background: url('icons/ore.svg');
}

.si.si-attack::after {
    background: url('icons/high-shot.svg');
}

.si.si-bank::after {
    background: url('icons/locked-chest.svg');
}

.si.si-maintenance::after {
    background: url('icons/claw-hammer.svg');
}

.si.si-market::after {
    background: url('icons/old-wagon.svg');
}

.si.si-menu::after {
    background: url('icons/open-book.svg');
}

.si.si-search::after {
    background: url('icons/magnifying-glass.svg');
}