@model WarOfEmpires.Models.Alliances.CreateAllianceModel

@{
    ViewBag.Title = "Create alliance";
}

<h2>Create alliance</h2>

<p>
    In an alliance, a group of players can share information, resources and work together towards a common goal.
</p>

<form method="post" class="html-only">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div asp-validation-summary="ModelOnly" class="site-validation-summary text-danger"></div>

            <div class="mb-3">
                <label asp-for="Code" class="site-required"></label>
                <input type="text" asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="small form-text text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Name" class="site-required"></label>
                <input type="text" asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="small form-text text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6 offset-6 col-md-3"><button type="submit" class="btn btn-primary w-100">Create</button></div>
    </div>
</form>