@model WarOfEmpires.Models.Alliances.CreateRoleModel

@{
    ViewBag.Title = "Create role";
}

<h2>Create role</h2>

<p>
    In an alliance, you can assign a role to players to give them an in-alliance title and to give them rights to various alliance actions.
</p>

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "html-only" })) {
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            @Html.ValidationSummary(true, null, new { @class = "site-validation-summary text-danger" })

            <div class="form-group">
                @Html.LabelFor(a => a.Name, new { @class = "site-required" })
                @Html.TextBoxFor(a => a.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(a => a.Name, null, new { @class = "small form-text text-danger" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6 offset-6 col-md-3"><button type="submit" class="btn btn-primary form-control">Create</button></div>
    </div>
}
