@{
    ViewBag.Title = "Disband alliance";
}

<h2>Disband alliance</h2>

<p>You are about to disband your alliance. All members will be kicked and the alliance will no longer exist.</p>

<form method="post" class="html-only">
    <div class="row mt-3">
        <div class="col-6 offset-6 col-md-3"><button type="submit" class="btn btn-primary w-100">Disband</button></div>
    </div>
</form>