@model WarOfEmpires.Models.Alliances.AllianceSearchModel

@{
    ViewBag.Title = "Alliances";
}

<h2>Alliances</h2>

<form id="alliancesSearch" class="search-form">
    <div class="row">
        <div class="col-12 col-md-6 mb-3">
            <label asp-for="Code" class="site-required"></label>
            <input type="text" asp-for="Code" class="form-control" />
        </div>

        <div class="col-12 col-md-6 mb-3">
            <label asp-for="Name" class="site-required"></label>
            <input type="text" asp-for="Name" class="form-control" />
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-end mb-3">
            <button type="submit" class="btn btn-info"><icon type="Search" /></button>
        </div>
    </div>
</form>

<grid id="alliancesGrid" item-type="typeof(WarOfEmpires.Models.Alliances.AllianceViewModel)" item-action="@nameof(Alliance.GetAlliances)" detail-action="@nameof(Alliance.Details)" search-form-id="alliancesSearch" />
