@model string

@{
    ViewBag.Title = $"{Model} - Invites";
}

<h2>@Model - Invites</h2>

<p>Below are the invites your alliance has sent out to players.</p>

<grid id="invitesGrid" item-type="typeof(WarOfEmpires.Models.Alliances.InviteViewModel)" item-action="GetInvites" detail-action="InviteDetails" />
