@model string

@{
    ViewBag.Title = $"{Model} - Invites";
}

<h2>@Model - Invites</h2>

<p>Below are the invites your alliance has sent out to players.</p>

@(await Html.Grid<WarOfEmpires.Models.Alliances.InviteViewModel>("invitesGrid", Url.Action("GetInvites"), Url.Action("InviteDetails")))