@model WarOfEmpires.Models.Alliances.SendInviteModel

@{
    ViewBag.Title = "Send alliance invite";
}

<h2>Send alliance invite</h2>

<p>
    Send an alliance invite to another player below.
</p>

<form method="post" data-success-message="An invite has been sent.">
    <input type="hidden" asp-for="PlayerId" />
    <input type="hidden" asp-for="PlayerName" />

    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div asp-validation-summary="ModelOnly" class="site-validation-summary text-danger"></div>

            <div class="mb-3">
                <label>Player</label>
                <div class="form-control" readonly="readonly">@Model.PlayerName</div>
            </div>

            <div class="mb-3">
                <label asp-for="Subject" class="site-required"></label>
                <input type="text" asp-for="Subject" class="form-control" />
                <span asp-validation-for="Subject" class="small form-text text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Body"></label>
                <textarea asp-for="Body" class="form-control" rows="8"></textarea>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6 offset-6 col-md-3"><button type="submit" class="btn btn-primary w-100">Send</button></div>
    </div>
</form>
