@model System.Collections.Generic.IEnumerable<WarOfEmpires.Models.Alliances.NonAggressionPactViewModel>

@{
    ViewBag.Title = "Non aggression pact";
}

<h2>Non aggression pacts</h2>

<p>
    Below you can find the currently active non aggression pacts your alliance is in.
    A non aggression pact between two alliances prevents members of those alliances to attack each other.
</p>

<table class="table table-borderless table-striped">
    <thead>
        <tr>
            <th>Alliance code</th>
            <th>Alliance name</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var request in Model) {
            <tr>
                <td class="table-form-label">@request.Code</td>
                <td class="table-form-label">@request.Name</td>
                <td>
                    @using (Html.BeginForm("DissolveNonAggressionPact", null, FormMethod.Post, new {
                        data_success_message = "Your non aggression pact has been dissolved."
                    })) {
                        @Html.Hidden("id", request.Id)

                        <button type="submit" class="btn btn-secondary form-control">
                            <span class="d-none d-lg-inline">Dissolve</span>
                            <span class="d-lg-none">X</span>
                        </button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>