@{
    ViewBag.Title = "Received invites";
}

<h2>Received invites</h2>

<p>Below are the invites you have received from alliances.</p>

@(await Html.Grid<WarOfEmpires.Models.Alliances.ReceivedInviteViewModel>("invitesGrid", Url.Action("GetReceivedInvites"), Url.Action("ReceivedInviteDetails")))