@{
    ViewBag.Title = "Received invites";
}

<h2>Received invites</h2>

<p>Below are the invites you have received from alliances.</p>

<grid id="invitesGrid" item-type="typeof(WarOfEmpires.Models.Alliances.ReceivedInviteViewModel)" item-action="@nameof(Alliance.GetReceivedInvites)" detail-action="@nameof(Alliance.ReceivedInviteDetails)" />
