@model string

@{
    ViewBag.Title = $"{Model} - Roles";
}

<h2>@Model - Roles</h2>

<p>
    In an alliance, you can assign a role to players to give them an in-alliance title and to give them rights to various alliance actions. Below are the roles your alliance has.
</p>

<div class="text-end mb-3">
    <div class="btn-group">
        <a asp-action="@nameof(Alliance.CreateRole)" class="btn btn-primary">Create role</a>
    </div>
</div>

<grid id="rolesGrid" item-type="typeof(WarOfEmpires.Models.Alliances.RoleViewModel)" item-action="@nameof(Alliance.GetRoles)" detail-action="@nameof(Alliance.RoleDetails)" />
