@model object

@{
    ViewBag.Title = "Send non aggression pact request";
}

<h2>Send non aggression pact request</h2>

<p>
    Send a request to enter a non aggression pact with another alliance below.
</p>
