@model WarOfEmpires.Models.Alliances.CreateNonAggressionPactRequestModel

@{
    ViewBag.Title = "Send non-aggression pact request";
}

<h2>Send non-aggression pact request</h2>

<p>
    Send a request to enter a non-aggression pact with another alliance below.
    A non-aggression pact between two alliances prevents members of those alliances to attack each other.
</p>

<form method="post" data-success-message="A request has been sent.">
    <input type="hidden" asp-for="AllianceId" />
    <input type="hidden" asp-for="AllianceCode" />
    <input type="hidden" asp-for="AllianceName" />

    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div asp-validation-summary="ModelOnly" class="site-validation-summary text-danger"></div>


            <div class="mb-3">
                <label>Alliance code</label>
                <div class="form-control" readonly="readonly">@Model.AllianceCode</div>
            </div>

            <div class="mb-3">
                <label>Alliance name</label>
                <div class="form-control" readonly="readonly">@Model.AllianceName</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6 offset-6 col-md-3"><button type="submit" class="btn btn-primary w-100">Send</button></div>
    </div>
</form>
