@model WarOfEmpires.Models.Alliances.NewRolePlayersModel

@{
    ViewBag.Title = $"Set player role - {Model.Name}";
}

<h2>Set player role - @Model.Name</h2>

<p>
    In an alliance, you can assign a role to players to give them an in-alliance title and to give them rights to various alliance actions.
</p>

<form method="post" data-success-message="The player's role has been set.">
    <input type="hidden" asp-for="Id" />

    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="mb-3">
                <label asp-for="PlayerId" class="site-required"></label>
                <select asp-for="PlayerId" asp-items="Model.Players.Select(p => new SelectListItem() { Value = p.Id.ToString(), Text = p.DisplayName })" class="form-select"></select>
                <span asp-validation-for="PlayerId" class="small form-text text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6 offset-6 col-md-3"><button type="submit" class="btn btn-primary w-100">Set role</button></div>
    </div>
</form>