@model WarOfEmpires.Models.Alliances.NewLeadersModel

@{
    ViewBag.Title = $"Transfer leadership";
}

<h2>Transfer leadership</h2>

<p>
    Choose a new leader to lead your alliance.
</p>

<form method="post" class="html-only">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="mb-3">
                <label asp-for="MemberId" class="site-required"></label>
                <select asp-for="MemberId" asp-items="Model.Members.Select(p => new SelectListItem() { Value = p.Id.ToString(), Text = p.DisplayName })" class="form-select"></select>
                <span asp-validation-for="MemberId" class="small form-text text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6 offset-6 col-md-3"><button type="submit" class="btn btn-primary w-100">Transfer leadership</button></div>
    </div>
</form>