@page "/"

<Title>Home</Title>

<p>
    Welcome to War of Empires, a text-based browser game where you build your empire, do battle with other empires, join alliances and fight in wars.
</p>

<p>
    Build defences, farms, archery ranges and many other buildings to attract more peasants to your empire. Train you peasants into troops to defend your empire, workers 
    to get more resources and gold and specialists like siege engineers or merchants that can trade for resources with other empires.
</p>

<p>
    Attack other empires for resource gains or to simply crush them. Declare war on other alliances for more risk and more rewards.
    Join an alliance to work together towards a common goal, exchange ideas and hang out.
</p>

<p @onclick="() => throw new Exception()">Test Blazor error</p>

<p @onclick="() => Notify(NotificationType.Success)">Test success notification</p>

<p @onclick="() => Notify(NotificationType.Warning)">Test warning notification</p>

<p @onclick="() => Notify(NotificationType.Error)">Test error notification</p>

@code {
    [CascadingParameter]
    public NotificationManager NotificationManager { get; set; } = null!;

    private void Notify(NotificationType type) {
        NotificationManager.Notify(type, "Hello, I'm a notification");
    }
}
