@{ /* TODO Make responsive grid */ }

@{
    ViewBag.Title = "Received messages";
}

<h2>Received messages</h2>

@(Html.Grid<WarOfEmpires.Models.Messages.ReceivedMessageViewModel>("messagesGrid", Url.Action("GetReceivedMessages"), Url.Action("ReceivedDetails")))