@{
    ViewBag.Title = "Received messages";
}

<h2>Received messages</h2>

<grid id="messagesGrid" item-type="typeof(WarOfEmpires.Models.Messages.ReceivedMessageViewModel)" item-action="GetReceivedMessages" detail-action="ReceivedDetails" />
