@{
    ViewBag.Title = "Sent messages";
}

<h2>Sent messages</h2>

@(await Html.Grid<WarOfEmpires.Models.Messages.SentMessageViewModel>("messagesGrid", Url.Action("GetSentMessages"), Url.Action("SentDetails")))