@{
    ViewBag.Title = "Sent messages";
}

<h2>Sent messages</h2>

<p>@Html.ActionLink("Go to received messages", "Index")</p>

<div id="messagesGrid">
</div>

@section Scripts{
    <script type="text/javascript">
        function messageRenderer(cell, value, dataRow) {
            cell.append($('<a>', { title: value, href: '@Url.Action("SentDetails")?id=' + dataRow.Id }).text(value));

            if (!dataRow.IsRead) {
                cell.addClass("font-weight-bold");
            }
        }

        $('#messagesGrid').datagridview({
            columns: [
                {
                    data: 'Id',
                    header: 'Id',
                    width: 8,
                    renderer: messageRenderer
                },
                {
                    data: 'DateString',
                    sortData: 'Date',
                    header: 'Sent',
                    width: 18,
                    renderer: messageRenderer
                },
                {
                    data: 'Recipient',
                    header: 'Recipient',
                    width: 18,
                    renderer: messageRenderer
                },
                {
                    data: 'Subject',
                    header: 'Subject',
                    width: 56,
                    renderer: messageRenderer
                }
            ]
        });

        function populate(metaData) {
            $.ajax({
                method: "POST",
                url: "@Url.Action("GetSentMessages")",
                data: metaData,
                success: function (d) {
                    $('#messagesGrid').datagridview(function () {
                        this.populate(d.metaData, d.data);
                    });
                },
                error: function () {
                    toastr.error("An error occurred loading data; please contact support to resolve this issue.");
                }
            });
        }

        populate();

        $('#messagesGrid').on('datagridview.sorted datagridview.paged', function (event, metaData) {
            populate(metaData);
        });
    </script>
}