@model WarOfEmpires.Models.Messages.SentMessageDetailsViewModel

@{
    ViewBag.Title = $"Sent message";
}

<h2>Sent message</h2>

<div class="row">
    <div class="col-3">
        <strong>Recipient</strong>
    </div>

    <div class="col-9">@Model.Recipient</div>
</div>

<div class="row">
    <div class="col-3">
        <strong>Date received</strong>
    </div>

    <div class="col-9">@Model.Date.ToString(StringFormat.Date)</div>
</div>

<div class="row">
    <div class="col-3">
        <strong>Subject</strong>
    </div>

    <div class="col-9">@Model.Subject</div>
</div>

<div class="row">
    <div class="col-12">
        <div class="site-user-text">@Model.Body</div>
    </div>
</div>