@{
    ViewBag.Title = "Sent messages";
}

<h2>Sent messages</h2>

<grid id="messagesGrid" item-type="typeof(WarOfEmpires.Models.Messages.SentMessageViewModel)" item-action="GetSentMessages" detail-action="SentDetails" />
