@model WarOfEmpires.Models.Game.GameStatusViewModel

@switch (Model.Phase) {
    case "Truce":
        <div class="bg-success p-2 text-center fw-bold">
            The game is currently in truce. You can play as normal, but you can not attack.
        </div>
        break;

    case "Finished":
        <div class="bg-success p-2 text-center fw-bold">
            The game is finished.

            @if (Model.CurrentGrandOverlordId.HasValue) {
                @:All hail @Html.ActionLink(Model.CurrentGrandOverlord, "Details", "Player", new { id = Model.CurrentGrandOverlordId }), the Grand Overlord!
            }
        </div>
        break;

    default:
        if (Model.CurrentGrandOverlordId.HasValue && Model.CurrentGrandOverlordTime.HasValue) {
            <div class="bg-warning p-2 text-center fw-bold">
                @Html.ActionLink(Model.CurrentGrandOverlord, "Details", "Player", new { id = Model.CurrentGrandOverlordId }) has been Grand Overlord
                for @Html.DisplayFor(m => m.CurrentGrandOverlordTime.Value). When they reach 36 hours they will win!
            </div>
        }
        break;
}
