@inherits LayoutComponentBase

<CascadingValue Value="notificationManager">
    <NavMenu />

    <main>
        @Body
    </main>
</CascadingValue>

<PopupMessageContainer NotificationManager="notificationManager" />

<div id="blazor-error-ui" class="popup-message-container" style="display: none;">
    <PopupMessage Type="NotificationType.Error" Message="An error occurred processing data; please try again." />
</div>

@code {
    private NotificationManager notificationManager = new NotificationManager();
}