
<nav>
    <NavLink href="" Match="NavLinkMatch.All">War of Empires</NavLink>
    
    <NavLink href="login">Log in</NavLink>
    <NavLink href="register">Register</NavLink>
    <NavLink href="resend-activation">Resend activation</NavLink>
    <NavLink href="forgot-password">Forgot password</NavLink>
</nav>
