
<nav>
    <div class="nav-brand">
        <NavLink href="" Match="NavLinkMatch.All">War of Empires</NavLink>
    </div>

    <div class="nav-link">
        <NavLink href="login">Log in</NavLink>
    </div>

    <div class="nav-link">
        <NavLink href="register">Register</NavLink>
    </div>

    <NavMenuDropdown Title="Options">
        <div class="nav-link">
            <NavLink href="send-activation">Send activation</NavLink>
        </div>

        <div class="nav-link">
            <NavLink href="forgot-password">Forgot password</NavLink>
        </div>
    </NavMenuDropdown>
</nav>
