
<nav>
    <div class="nav-brand">
        <NavLink href="" Match="NavLinkMatch.All">War of Empires</NavLink>
    </div>

    <div class="nav-link">
        <NavLink href="login">Log in</NavLink>
    </div>

    <div class="nav-link">
        <NavLink href="register">Register</NavLink>
    </div>

    <NavMenuDropdown Title="Options">
        <div class="nav-menu-content">
            <div class="nav-link">
                <NavLink href="resend-activation">Resend activation</NavLink>
            </div>

            <div class="nav-link">
                <NavLink href="forgot-password">Forgot password</NavLink>
            </div>
        </div>
    </NavMenuDropdown>
</nav>
