@{
    ViewBag.Title = "Executed attacks";
}

<h2>Executed attacks</h2>

@(Html.Grid<WarOfEmpires.Models.Attacks.ExecutedAttackViewModel>("attacksGrid", Url.Action("GetExecutedAttacks"), "attackRenderer"))

<div id="attacksGrid">
</div>

@section Scripts{
    <script type="text/javascript">
        function attackRenderer(cell, value, dataRow) {
            cell.append($('<a>', { title: value, href: '@Url.Action("Details")?id=' + dataRow.Id }).text(value));
        }
    </script>
}