@{
    ViewBag.Title = "Executed attacks";
}

<h2>Executed attacks</h2>

<grid id="attacksGrid" item-type="typeof(WarOfEmpires.Models.Attacks.ExecutedAttackViewModel)" item-action="GetExecutedAttacks" detail-action="Details" />
