@{
    ViewBag.Title = "Executed attacks";
}

<h2>Executed attacks</h2>

<grid id="attacksGrid" item-type="typeof(WarOfEmpires.Models.Attacks.ExecutedAttackViewModel)" item-action="@nameof(Attack.GetExecutedAttacks)" detail-action="@nameof(Attack.Details)" />
