@{ /* TODO Make responsive grid */ }

@{
    ViewBag.Title = "Executed attacks";
}

<h2>Executed attacks</h2>

@(Html.Grid<WarOfEmpires.Models.Attacks.ExecutedAttackViewModel>("attacksGrid", Url.Action("GetExecutedAttacks"), Url.Action("Details")))