@{
    ViewBag.Title = "Received attacks";
}

<h2>Received attacks</h2>

<div id="attacksGrid">
</div>

@section Scripts{
    <script type="text/javascript">
        function attackRenderer(cell, value, dataRow) {
            cell.append($('<a>', { title: value, href: '@Url.Action("Details")?id=' + dataRow.Id }).text(value));

            if (!dataRow.IsRead) {
                cell.addClass("font-weight-bold");
            }
        }

        $('#attacksGrid').datagridview({
            columns: [
                {
                    data: 'DateString',
                    sortData: 'Date',
                    header: 'Date',
                    width: 15,
                    renderer: attackRenderer
                },
                {
                    data: 'Type',
                    header: 'Type',
                    width: 10,
                    renderer: attackRenderer
                },
                {
                    data: 'TurnsString',
                    sortData: 'Turns',
                    header: 'Turns',
                    width: 10,
                    renderer: attackRenderer
                },
                {
                    data: 'DefenderSoldierCasualtiesString',
                    sortData: 'DefenderSoldierCasualties',
                    header: 'Soldiers lost',
                    width: 10,
                    renderer: attackRenderer
                },
                {
                    data: 'DefenderMercenaryCasualtiesString',
                    sortData: 'DefenderMercenaryCasualties',
                    header: 'Mercenaries lost',
                    width: 10,
                    renderer: attackRenderer
                },
                {
                    data: 'Attacker',
                    header: 'Attacker',
                    width: 15,
                    renderer: attackRenderer
                },
                {
                    data: 'AttackerSoldierCasualtiesString',
                    sortData: 'AttackerSoldierCasualties',
                    header: 'Soldiers lost',
                    width: 10,
                    renderer: attackRenderer
                },
                {
                    data: 'AttackerMercenaryCasualtiesString',
                    sortData: 'AttackerMercenaryCasualties',
                    header: 'Mercenaries lost',
                    width: 10,
                    renderer: attackRenderer
                },
                {
                    data: 'Result',
                    header: 'Result',
                    width: 10,
                    renderer: attackRenderer
                }
            ]
        });

        function populate(metaData) {
            $.ajax({
                method: "POST",
                url: "@Url.Action("GetReceivedAttacks")",
                data: metaData,
                success: function (d) {
                    $('#attacksGrid').datagridview(function () {
                        this.populate(d.metaData, d.data);
                    });
                },
                error: function () {
                    toastr.error("An error occurred loading data; please contact support to resolve this issue.");
                }
            });
        }

        populate(new DataGridViewMetaData('Date', true, 0, 25, 0));

        $('#attacksGrid').on('datagridview.sorted datagridview.paged', function (event, metaData) {
            populate(metaData);
        });
    </script>
}