@{
    ViewBag.Title = "Received attacks";
}

<h2>Received attacks</h2>

<grid id="attacksGrid" item-type="typeof(WarOfEmpires.Models.Attacks.ReceivedAttackViewModel)" item-action="GetReceivedAttacks" detail-action="Details" />
