@{
    ViewBag.Title = "Received attacks";
}

<h2>Received attacks</h2>

<div id="attacksGrid">
</div>

@section Scripts{
    <script type="text/javascript">
        function attackRenderer(cell, value, dataRow) {
            cell.append($('<a>', { title: value, href: '@Url.Action("Details")?id=' + dataRow.Id }).text(value));

            if (!dataRow.IsRead) {
                cell.addClass("font-weight-bold");
            }
        }

        $(function () {
            $('#attacksGrid').datagridview({
                columns: [
                    {
                        data: 'DateString',
                        sortData: 'Date',
                        header: 'Date',
                        width: 15,
                        renderer: attackRenderer
                    },
                    {
                        data: 'Type',
                        header: 'Type',
                        width: 10,
                        renderer: attackRenderer
                    },
                    {
                        data: 'TurnsString',
                        sortData: 'Turns',
                        header: 'Turns',
                        width: 10,
                        renderer: attackRenderer
                    },
                    {
                        data: 'DefenderSoldierCasualtiesString',
                        sortData: 'DefenderSoldierCasualties',
                        header: 'Soldiers lost',
                        width: 10,
                        renderer: attackRenderer
                    },
                    {
                        data: 'DefenderMercenaryCasualtiesString',
                        sortData: 'DefenderMercenaryCasualties',
                        header: 'Mercenaries lost',
                        width: 10,
                        renderer: attackRenderer
                    },
                    {
                        data: 'Attacker',
                        header: 'Attacker',
                        width: 15,
                        renderer: attackRenderer
                    },
                    {
                        data: 'AttackerSoldierCasualtiesString',
                        sortData: 'AttackerSoldierCasualties',
                        header: 'Soldiers lost',
                        width: 10,
                        renderer: attackRenderer
                    },
                    {
                        data: 'AttackerMercenaryCasualtiesString',
                        sortData: 'AttackerMercenaryCasualties',
                        header: 'Mercenaries lost',
                        width: 10,
                        renderer: attackRenderer
                    },
                    {
                        data: 'Result',
                        header: 'Result',
                        width: 10,
                        renderer: attackRenderer
                    }
                ]
            });

            GridManager.initialize('#attacksGrid', '@Url.Action("GetReceivedAttacks")', 'Date', true);
        });
    </script>
}