@{
    ViewBag.Title = "Received attacks";
}

<h2>Received attacks</h2>

<grid id="attacksGrid" item-type="typeof(WarOfEmpires.Models.Attacks.ReceivedAttackViewModel)" item-action="@nameof(Attack.GetReceivedAttacks)" detail-action="@nameof(Attack.Details)" />
