@model WarOfEmpires.Models.Empires.BuildingTotalsViewModel

<ul class="information-list">
    <li>Total spent on buildings: @Model.TotalGoldSpent.ToString(StringFormat.Integer) @Html.Icon("Gold")</li>
    <li>Next recruiting level: @Model.NextRecruitingLevel.ToString(StringFormat.Integer) @Html.Icon("Gold")</li>
</ul>