@model WarOfEmpires.Models.Empires.BuildingTotalsViewModel

<ul>
    <li>Total spent on buildings: @Model.TotalGoldSpent <span class="si si-gold"></span></li>
    <li>Next recruiting level: @Model.NextRecruitingLevel <span class="si si-gold"></span></li>
</ul>