@model WarOfEmpires.Models.Empires.BuildingTotalsViewModel

<ul class="text-muted">
    <li>Total spent on buildings: @Model.TotalGoldSpent.ToString(StringFormat.Integer) <icon type="Gold"/></li>
    <li>Next recruiting level: @Model.NextRecruitingLevel.ToString(StringFormat.Integer) <icon type="Gold"/></li>
</ul>