@{
    ViewBag.Title = "Bank buildings";
}

<h2>Bank buildings</h2>

<p>
    Here you can upgrade your gold and resource banks to hide your resources from enemies.
</p>

<building-totals />

<div class="row">
    <div class="col-12 col-md-6 col-lg-4">
        <building type="GoldBank" />
    </div>

    <div class="col-12 col-md-6 col-lg-4">
        <building type="FoodBank" />
    </div>

    <div class="col-12 col-md-6 col-lg-4">
        <building type="WoodBank" />
    </div>

    <div class="col-12 col-md-6 col-lg-4">
        <building type="StoneBank" />
    </div>

    <div class="col-12 col-md-6 col-lg-4">
        <building type="OreBank" />
    </div>
</div>