@{
    ViewBag.Title = "Research";
}

<h2>Research</h2>

<p>Here you can research various ways to improve your empire. Train scientists and upgrade your university to complete your research.</p>

<div class="row">
    <div class="col-12 col-md-6 col-lg-4">
        <research type="Tactics" />
    </div>

    <div class="col-12 col-md-6 col-lg-4">
        <research type="CombatMedicine" />
    </div>

    <div class="col-12 col-md-6 col-lg-4">
        <research type="Efficiency" />
    </div>

    <div class="col-12 col-md-6 col-lg-4">
        <research type="Commerce" />
    </div>
</div>