@{
    ViewBag.Title = "Resource buildings";
}

<h2>Resource buildings</h2>

<p>
    Here you can upgrade your farm, lumber yard, quarry and mine.
</p>

<building-totals />

<div class="row">
    <div class="col-12 col-md-6 col-lg-4">
        <building type="Farm" />
    </div>

    <div class="col-12 col-md-6 col-lg-4">
        <building type="Lumberyard" />
    </div>

    <div class="col-12 col-md-6 col-lg-4">
        <building type="Quarry" />
    </div>

    <div class="col-12 col-md-6 col-lg-4">
        <building type="Mine" />
    </div>
</div>
