@{
    ViewBag.Title = "Resource buildings";
}

<h2>Resource buildings</h2>

<p>
    Here you can upgrade your farm, lumber yard, quarry and mine.
</p>

@{ 
    Html.RenderAction("_BuildingTotals");
}

<div class="row">
    <div class="col-3 partial-content">
        @{
            Html.RenderAction("_Building", "Empire", new { BuildingType = "Farm" });
        }
    </div>

    <div class="col-3 partial-content">
        @{
            Html.RenderAction("_Building", "Empire", new { BuildingType = "Lumberyard" });
        }
    </div>

    <div class="col-3 partial-content">
        @{
            Html.RenderAction("_Building", "Empire", new { BuildingType = "Quarry" });
        }
    </div>

    <div class="col-3 partial-content">
        @{
            Html.RenderAction("_Building", "Empire", new { BuildingType = "Mine" });
        }
    </div>
</div>