@{
    ViewBag.Title = "Troop buildings";
}

<h2>Troop buildings</h2>

<p>
    Here you can upgrade your armoury, forge and other troop buildings.
</p>

<building-totals />

<div class="row">
    <div class="col-12 col-md-6 col-lg-4">
        <building type="ArcheryRange" />
    </div>
    
    <div class="col-12 col-md-6 col-lg-4">
        <building type="CavalryRange" />
    </div>
    
    <div class="col-12 col-md-6 col-lg-4">
        <building type="FootmanRange" />
    </div>
    
    <div class="col-12 col-md-6 col-lg-4">
        <building type="Forge" />
    </div>

    <div class="col-12 col-md-6 col-lg-4">
        <building type="Armoury" />
    </div>
</div>