@{
    ViewBag.Title = "Troop buildings";
}

<h2>Troop buildings</h2>

<p>
    Here you can upgrade your armoury, forge and other troop buildings.
</p>

@{
    Html.RenderAction("_BuildingTotals");
}

<div class="row">
    <div class="col-4 partial-content">
        @{
            Html.RenderAction("_Building", "Empire", new { BuildingType = "ArcheryRange" });
        }
    </div>

    <div class="col-4 partial-content">
        @{
            Html.RenderAction("_Building", "Empire", new { BuildingType = "CavalryRange" });
        }
    </div>

    <div class="col-4 partial-content">
        @{
            Html.RenderAction("_Building", "Empire", new { BuildingType = "FootmanRange" });
        }
    </div>
</div>

<div class="row">
    <div class="col-4 partial-content">
        @{
            Html.RenderAction("_Building", "Empire", new { BuildingType = "Forge" });
        }
    </div>

    <div class="col-4 partial-content">
        @{
            Html.RenderAction("_Building", "Empire", new { BuildingType = "Armoury" });
        }
    </div>
</div>