@model WarOfEmpires.Models.Players.PlayerSearchModel

@{
    ViewBag.Title = "Players";
}

<h2>Players</h2>

<form id="playersSearch" class="search-form">
    <div class="row">
        <div class="col-2 col-form-label">
            @Html.LabelFor(m => m.DisplayName)
        </div>

        <div class="col-4">
            @Html.TextBoxFor(m => m.DisplayName, new { @class = "form-control" })
        </div>
    </div>
</form>

@(Html.Grid<WarOfEmpires.Models.Players.PlayerViewModel>("playersGrid", Url.Action("GetPlayers"), "playerRenderer", "playersSearch"))

@section Scripts{
    <script type="text/javascript">
        function playerRenderer(cell, value, dataRow) {
            cell.append($('<a>', { title: value, href: '@Url.Action("Details")?id=' + dataRow.Id }).text(value));
        }
    </script>
}