@model WarOfEmpires.Models.Players.PlayerSearchModel

@{
    ViewBag.Title = "Players";
}

<h2>Players</h2>

<form id="playersSearch" class="search-form">
    <div class="row align-items-end">
        <div class="col-12 col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.DisplayName)
                @Html.TextBoxFor(m => m.DisplayName, new { @class = "form-control" })
            </div>
        </div>

        <div class="col-12 col-md-6 text-end pb-3">
            <button type="submit" class="btn btn-info">@await Html.Icon(IconType.Search)</button>
        </div>
    </div>
</form>

@(await Html.Grid<WarOfEmpires.Models.Players.PlayerViewModel>("playersGrid", Url.Action("GetPlayers"), @Url.Action("Details"), "playersSearch"))