@{
    ViewBag.Title = "Players";
}

<h2>Players</h2>

<div id="playersGrid">
</div>

@section Scripts{
    <script type="text/javascript">
        function playerRenderer(cell, value, dataRow) {
            cell.append($('<a>', { title: value, href: '@Url.Action("Details")?id=' + dataRow.Id }).text(value));
        }

        $('#playersGrid').datagridview({
            columns: [
                {
                    data: 'DisplayName',
                    header: 'Display name',
                    width: 80,
                    renderer: playerRenderer
                },
                {
                    data: 'PopulationString',
                    sortData: 'Population',
                    header: 'Population',
                    width: 20,
                    renderer: playerRenderer
                }
            ]
        });

        function populate(metaData) {
            $.ajax({
                method: "POST",
                url: "@Url.Action("GetPlayers")",
                data: metaData,
                success: function (d) {
                    $('#playersGrid').datagridview(function () {
                        this.populate(d.metaData, d.data);
                    });
                },
                error: function () {
                    toastr.error("An error occurred loading data; please contact support to resolve this issue.");
                }
            });
        }

        populate();

        $('#playersGrid').on('datagridview.sorted datagridview.paged', function (event, metaData) {
            populate(metaData);
        });
    </script>
}