@model WarOfEmpires.Models.Players.PlayerSearchModel

@{
    ViewBag.Title = "Players";
}

<h2>Players</h2>

<form id="playersSearch" class="search-form">
    <div class="row">
        <div class="col-2 col-form-label">
            @Html.LabelFor(m => m.DisplayName)
        </div>

        <div class="col-4">
            @Html.TextBoxFor(m => m.DisplayName, new { @class = "form-control" })
        </div>
    </div>
</form>

<div id="playersGrid" class="site-spaced-small">
</div>

@section Scripts{
    <script type="text/javascript">
        function playerRenderer(cell, value, dataRow) {
            cell.append($('<a>', { title: value, href: '@Url.Action("Details")?id=' + dataRow.Id }).text(value));
        }

        $(function () {
            $('#playersGrid').datagridview({
                columns: [
                    {
                        data: 'RankString',
                        sortData: 'Rank',
                        header: 'Rank',
                        width: 15,
                        renderer: playerRenderer
                    },
                    {
                        data: 'DisplayName',
                        header: 'Display name',
                        width: 40,
                        renderer: playerRenderer
                    },
                    {
                        data: 'Title',
                        header: 'Title',
                        width: 30,
                        renderer: playerRenderer
                    },
                    {
                        data: 'PopulationString',
                        sortData: 'Population',
                        header: 'Population',
                        width: 15,
                        renderer: playerRenderer
                    }
                ]
            });

            GridManager.initialize('#playersGrid', '@Url.Action("GetPlayers")', 'Rank', false, '#playersSearch');
        });
    </script>
}