@model WarOfEmpires.Models.Players.PlayerSearchModel

@{
    ViewBag.Title = "Players";
}

<h2>Players</h2>

<form id="playersSearch" class="search-form">
    <div class="row align-items-end">
        <div class="col-12 col-md-6 mb-3">
            <label asp-for="DisplayName"></label>
            <input type="text" asp-for="DisplayName" class="form-control" />
        </div>

        <div class="col-12 col-md-6 text-end mb-3">
            <button type="submit" class="btn btn-info"><icon type="Search" /></button>
        </div>
    </div>
</form>

<grid id="playersGrid" item-type="typeof(WarOfEmpires.Models.Players.PlayerViewModel)" item-action="GetPlayers" detail-action="Details" search-form-id="playersSearch" />
