@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>

<div id="usersGrid">
</div>

@section Scripts{
    <script type="text/javascript">
        $('#usersGrid').datagridview({
            columns: [
                {
                    data: 'DisplayName',
                    header: 'Display name'
                },
                {
                    data: 'Email',
                    header: 'Email address',
                    renderer: function (cell, value) {
                        if (value.indexOf('@@') > -1) {
                            cell.append($('<a>', { href: 'mailto:' + value }).text(value).attr('title', value))
                        }
                        else {
                            cell.text(value || "").attr('title', value || "");
                        }
                    }
                },
                {
                    data: 'Description'
                },
                {
                    data: 'StartDateString',
                    header: 'Start date',
                    sortData: 'StartDate'
                }
            ]
        });

        function populate(metaData) {
            $.ajax({
                method: "POST",
                url: "@Url.Action("GetUsers")",
                data: metaData,
                success: function (d) {
                    $('#usersGrid').datagridview(function () {
                        this.populate(d.metaData, d.data);
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    toastr.error("An error occurred loading data; please contact support to resolve this issue.");
                }
            });
        }

        populate();

        $('#usersGrid').on('datagridview.sorted datagridview.paged', function (event, metaData) {
            populate(metaData);
        });
    </script>
}