@model WarOfEmpires.Models.Game.GamePhaseModel

<h3 class="mt-3">Game phase</h3>

<form method="post" asp-action="_GamePhase" data-success-message="Game phase was saved.">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="mb-3">
                <label asp-for="Phase" class="site-required"></label>
                <div class="form-check">
                    <input type="radio" asp-for="Phase" id="Phase-Truce" value="Truce" class="form-check-inline" checked="@(Model.Phase == "Truce")" />
                    <label class="form-check-label" for="Phase-Truce">Truce <span class="text-muted">- Attacks are impossible during truce</span></label>
                </div>
                <div class="form-check">
                    <input type="radio" asp-for="Phase" id="Phase-Active" value="Active" class="form-check-inline" checked="@(Model.Phase == "Active")" />
                    <label class="form-check-label" for="Phase-Active">Active <span class="text-muted">- The game is running and attacks are possible</span></label>
                </div>
                <div class="form-check">
                    <input type="radio" asp-for="Phase" id="Phase-Finished" value="Finished" class="form-check-inline" checked="@(Model.Phase == "Finished")" />
                    <label class="form-check-label" for="Phase-Finished">Finished <span class="text-muted">- The game is over, a winner is declared and attacks are impossible</span></label>
                </div>
                <span asp-validation-for="Phase" class="small form-text text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6 offset-6 col-md-3"><button type="submit" class="btn btn-primary w-100">Save</button></div>
    </div>
</form>