<h3 class="mt-3">Reset players</h3>

<p>Reset all active players to their starting point.</p>

<form method="post" asp-action="@nameof(Administration._ResetPlayers)" data-success-message="All players have been reset.">
    <div class="row">
        <div class="col-6 offset-6 col-md-3"><button type="submit" class="btn btn-primary w-100">Reset players</button></div>
    </div>
</form>