@model bool?

<h3 class="mt-3">Scheduled tasks</h3>

<div class="row">
    <div class="col-3 d-none d-md-block"></div>

    @if (Model != true) {
        <div class="col-6 col-md-3">
            <form asp-action="@nameof(Administration._PauseScheduledTasks)" method="post" data-success-message="All scheduled tasks have been paused.">
                <button type="submit" class="btn btn-primary w-100">Pause</button>
            </form>
        </div>
    }

    @if (Model != false) {
        <div class="col-6 col-md-3">
            <form asp-action="@nameof(Administration._UnpauseScheduledTasks)" method="post" data-success-message="All scheduled tasks have been unpaused.">
                <button type="submit" class="btn btn-primary w-100">Unpause</button>
            </form>
        </div>
    }
</div>
