@{
    ViewBag.Title = "Administration tools";
}

<h2>Administration tools</h2>

<div id="tasks-container" class="partial-content">
    @{
// TODO enable
// Html.RenderAction("ScheduledTasks");
    }
</div>