@model bool?

<h3 class="mt-3">Scheduled tasks</h3>

<div class="row">
    <div class="col-3"></div>

    @if (Model != true) {
        <div class="col-3">
            @using (Html.BeginForm("PauseScheduledTasks", "Administration")) {
                <button type="submit" class="btn btn-primary form-control">Pause</button>
            }
        </div>
    }

    @if (Model != false) {
        <div class="col-3">
            @using (Html.BeginForm("UnpauseScheduledTasks", "Administration")) {
                <button type="submit" class="btn btn-primary form-control">Unpause</button>
            }
        </div>
    }

    <div class="col-3"></div>
</div>