@model bool?

<h3 class="mt-3">Scheduled tasks</h3>

<div class="row">
    <div class="col-3 d-none d-md-block"></div>

    @if (Model != true) {
        <div class="col-6 col-md-3">
            @using (Html.BeginForm("PauseScheduledTasks", "Administration", FormMethod.Post, new {
                data_success_message = "All scheduled tasks have been paused."
            })) {
                <button type="submit" class="btn btn-primary form-control">Pause</button>
            }
        </div>
    }

    @if (Model != false) {
        <div class="col-6 col-md-3">
            @using (Html.BeginForm("UnpauseScheduledTasks", "Administration", FormMethod.Post, new {
                data_success_message = "All scheduled tasks have been unpaused."
            })) {
                <button type="submit" class="btn btn-primary form-control">Unpause</button>
            }
        </div>
    }
</div>
