@model WarOfEmpires.Models.Security.UserDetailsModel

@{
    ViewBag.Title = Model.DisplayName;
}

<h2>@Model.DisplayName</h2>

<form method="post" data-success-message="The user details have been updated successfully.">
    <input type="hidden" asp-for="Id" />

    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div asp-validation-summary="ModelOnly" class="site-validation-summary text-danger"></div>

            <div class="mb-3">
                <label asp-for="Email" class="site-required"></label>
                <input type="text" asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="small form-text text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="DisplayName" class="site-required"></label>
                <input type="text" asp-for="DisplayName" class="form-control" />
                <span asp-validation-for="DisplayName" class="small form-text text-danger"></span>
            </div>

            @if (Model.AllianceCode != null) {
                <div class="mb-3">
                    <label asp-for="AllianceCode" class="site-required"></label>
                    <input type="text" asp-for="AllianceCode" class="form-control" />
                    <span asp-validation-for="AllianceCode" class="small form-text text-danger"></span>
                </div>
            }

            @if (Model.AllianceName != null) {
                <div class="mb-3">
                    <label asp-for="AllianceName" class="site-required"></label>
                    <input type="text" asp-for="AllianceName" class="form-control" />
                    <span asp-validation-for="AllianceName" class="small form-text text-danger"></span>
                </div>
            }

            <div class="mb-3">
                <label asp-for="Status" class="site-required"></label>
                <div class="form-check">
                    <input type="radio" asp-for="Status" id="Status-New" value="New" class="form-check-input" checked="@(Model.Status == "New")" />
                    <label class="form-check-label" for="Status-New">New</label>
                </div>
                <div class="form-check">
                    <input type="radio" asp-for="Status" id="Status-Active" value="Active" class="form-check-input" checked="@(Model.Status == "Active")" />
                    <label class="form-check-label" for="Status-Active">Active</label>
                </div>
                <div class="form-check">
                    <input type="radio" asp-for="Status" id="Status-Inactive" value="Inactive" class="form-check-input" checked="@(Model.Status == "Inactive")" />
                    <label class="form-check-label" for="Status-Inactive">Inactive</label>
                </div>
                <span asp-validation-for="Status" class="small form-text text-danger"></span>

            </div>

            <div class="form-check mb-3">
                <input type="checkbox" asp-for="IsAdmin" class="form-check-input" />
                <label asp-for="IsAdmin" class="form-check-label"></label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6 offset-6 col-md-3"><button type="submit" class="btn btn-primary w-100">Submit</button></div>
    </div>
</form>