@model WarOfEmpires.Models.Security.UserSearchModel

@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>

<form id="usersSearch" class="search-form">
    <div class="row align-items-end">
        <div class="col-12 col-md-6 mb-3">
            <label asp-for="DisplayName"></label>
            <input type="text" asp-for="DisplayName" class="form-control" />
        </div>

        <div class="col-12 col-md-6 text-end mb-3">
            <button type="submit" class="btn btn-info"><icon type="Search" /></button>
        </div>
    </div>
</form>

<grid id="usersGrid" item-type="@typeof(WarOfEmpires.Models.Security.UserViewModel)" item-action="GetUsers" detail-action="UserDetails" search-form-id="usersSearch" />