@{
    ViewBag.Title = "Activation failed";
}

<h2>Activation failed</h2>

<p>
    The activation of your account has failed. If your account is not yet activated, please @Html.ActionLink("request a new activation link", "SendActivation").

</p>

<p>
    Please contact support if these issues persist.
</p>