@{
    ViewBag.Title = "Activation failed";
}

<h2>Activation failed</h2>

<p>
    The activation of your account has failed. If your account is not yet activated, please <a asp-action="@nameof(Home.SendActivation)">request a new activation link</a>.

</p>

<p>
    Please contact support if these issues persist.
</p>