@{
    ViewBag.Title = "Activation link sent";
}

<h2>Activation link sent</h2>

<p>
    An email has been sent to the provided email address with a validation link. Please follow the link in the email.
</p>