@model WarOfEmpires.Models.Security.ChangeUserPasswordModel

@{
    ViewBag.Title = "Change password";
}

<h2>Change password</h2>

<form method="post" data-success-message="Your password has been changed successfully.">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div asp-validation-summary="ModelOnly" class="site-validation-summary text-danger"></div>

            <div class="mb-3">
                <label asp-for="CurrentPassword" class="site-required"></label>
                <input type="password" asp-for="CurrentPassword" class="form-control" />
                <span asp-validation-for="CurrentPassword" class="small form-text text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="NewPassword" class="site-required"></label>
                <input type="password" asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="small form-text text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="ConfirmNewPassword" class="site-required"></label>
                <input type="password" asp-for="ConfirmNewPassword" class="form-control" />
                <span asp-validation-for="ConfirmNewPassword" class="small form-text text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6 offset-6 col-md-3"><button type="submit" class="btn btn-primary w-100">Submit</button></div>
    </div>
</form>