@model WarOfEmpires.Models.Security.DeactivateUserModel

@{
    ViewBag.Title = "Deactivate account";
}

<h2>Deactivate account</h2>

<form method="post" class="html-only">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div asp-validation-summary="ModelOnly" class="site-validation-summary text-danger"></div>

            <div class="mb-3">
                <label asp-for="Password" class="site-required"></label>
                <input type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="small form-text text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6 offset-6 col-md-3"><button type="submit" class="btn btn-primary w-100">Submit</button></div>
    </div>
</form>
