@{
    ViewBag.Title = "Email address change requested";
}

<h2>Email address change requested</h2>

<p>
    An email has been sent to the new email address with a validation link. Follow the link in the email to confirm your new email address.
</p>

<p>
    Please note that you will need to log in using your old email address until the new email address has been confirmed.
</p>