@{
    ViewBag.Title = "Confirming new email failed";
}

<h2>Confirming new email failed</h2>

<p>
    Confirming your new email address has failed. If your new email address has not yet been confirmed, please <a asp-action="@nameof(Home.ChangeEmail)">retry changing your email address</a>.
</p>

<p>
    Please contact support if these issues persist.
</p>