@{
    ViewBag.Title = "Confirming new email failed";
}

<h2>Confirming new email failed</h2>

<p>
    Confirming your new email address has failed. If your new email address has not yet been confirmed, please  @Html.ActionLink("retry changing your email address", "ChangeEmail").
</p>

<p>
    Please contact support if these issues persist.
</p>