@model WarOfEmpires.Models.Security.ForgotUserPasswordModel

@{
    ViewBag.Title = "Forgot password";
}

<h2>Forgot password</h2>

<div class="row">
    <div class="col-3"></div>

    <div class="col-6">
        @using (Html.BeginForm()) {
            @Html.ValidationSummary(true, null, new { @class = "site-validation-summary text-danger" })

            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "site-required" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, null, new { @class = "small form-text text-danger" })
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        }
    </div>

    <div class="col-3"></div>
</div>