@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis, ipsum ut vulputate vestibulum, sem odio fermentum magna, sed ultricies sem purus et dolor. Aliquam dapibus felis magna, vitae ultrices sem posuere eu. Sed ante orci, dictum tincidunt eros quis, sagittis rutrum sem. Vivamus ac commodo est. Nunc gravida maximus ligula, quis dictum sem vestibulum eget. Sed vel facilisis lacus. Ut nisl mi, ultrices quis auctor iaculis, cursus quis lacus. Nullam lectus risus, faucibus non laoreet eget, bibendum vel ligula. Aenean at pharetra augue, sed consequat velit. Aenean tincidunt gravida semper. Quisque dictum ullamcorper sem non placerat.
</p>

<p>
    Ut viverra nunc ac justo efficitur dictum. Proin ultricies laoreet nisl, vitae volutpat leo euismod sed. Mauris euismod ex ut dolor pharetra suscipit nec eget sapien. Quisque gravida sagittis pulvinar. Ut et porta sem, eget congue odio. Cras arcu velit, ultrices a placerat vel, feugiat sed diam. Pellentesque venenatis bibendum mi, at aliquet justo iaculis quis. Integer magna arcu, viverra ut semper non, placerat sed quam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque scelerisque eget lorem eu tempus.
</p>

<p>
    Nullam dignissim lectus in ante porta tempor. Etiam congue felis vitae risus condimentum vulputate eget eu dui. Praesent id convallis libero, vitae fermentum metus. Aliquam ullamcorper neque semper aliquet dignissim. Sed eget sem condimentum, bibendum nulla ut, rutrum ipsum. Vestibulum in justo sit amet ex eleifend fringilla. Suspendisse ut ultrices ante. Sed molestie nisi urna, eget gravida ex viverra nec. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed at lectus sed ex commodo porta.
</p>