@{
    ViewBag.Title = "Password reset email sent";
}

<h2>Password reset email sent</h2>

<p>
    A password reset link has been sent to the email address you provided. This link will expire after one hour.
</p>