@{
    ViewBag.Title = "Registered successfully";
}

<h2>Registered successfully</h2>

<p>
    You have registered successfully. An email has been sent to the provided email address with a validation link.
</p>

<p>
    Follow the link in the email or @Html.ActionLink("activate your account manually", "Activate").
</p>