@model WarOfEmpires.Models.Security.RegisterUserModel

@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

<form method="post" data-success-message="You have registered successfully. An email has been sent to the provided email address with a validation link.">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div asp-validation-summary="ModelOnly" class="site-validation-summary text-danger"></div>

            <div class="mb-3">
                <label asp-for="Email" class="site-required"></label>
                <input type="text" asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="small form-text text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Password" class="site-required"></label>
                <input type="password" asp-for="Password" class="form-control password-strength" />
                <span asp-validation-for="Password" class="small form-text text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="ConfirmPassword" class="site-required"></label>
                <input type="password" asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="small form-text text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6 offset-6 col-md-3"><button type="submit" class="btn btn-primary w-100">Submit</button></div>
    </div>
</form>