@model WarOfEmpires.Models.Security.SendUserActivationModel

@{
    ViewBag.Title = "Resend activation link";
}

<h2>Resend activation link</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { data_success_message = "An email has been sent to the provided email address with a validation link." })) {
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "site-required" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, null, new { @class = "small form-text text-danger" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6 offset-6 col-md-3"><button type="submit" class="btn btn-primary w-100">Submit</button></div>
    </div>
}